@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-content {
  --background: var(--ion-color-custom-white);
}

.title {
  @include flexCenter();

  margin-top: 50px;
  font-weight: bold;
  font-size: 30px;
}

.subtitle {
  margin-left: 25px;
  font-size: 24px;
}

.btn-container {
  margin: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.new-game-btn {
  @include flexCenter();

  background-color: var( --ion-color-primary );
  height: 138px;
  width: 140px;
  border-radius: 25px;
  box-shadow: 4px 4px 10px 4px #ccc;
}

.categories-btn {
  @include flexCenter();
  background-color: var( --ion-color-secondary );

  height: 138px;
  width: 140px;
  border-radius: 25px;
  box-shadow: 4px 4px 10px 4px #ccc;
}


.categories-btn p, .new-game-btn p {
  @include flexCenter();
  text-align: center;
  margin: 0px 5px;
  color: white;

  font-size: 21px;
  font-style: normal;
  font-weight: bold;
}

.text-container{
  margin-left: 10px;
}

.gamecard-id {
  font-size: 18px;
  font-weight: bold;
}

.gamecard-category {
  font-size: 17px;
}

.ion-text-end.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
  min-width: 65px !important;
  max-width: 65px !important;
}

.play_games-message{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 100px;
  padding: 20px;
  border-radius: 25px;
  margin: 50px 20px;

  box-shadow: 4px 4px 10px 4px #ccc;
}

ion-list {
  background: var( --ion-color-custom-white );
}

ion-item {
  margin: 8px 0px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 0px #ccc;
  --background: white !important;
  margin: 10px 30px;
}