ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-start: 20px;
  --padding-end: 20px;
  --background: var(--ion-color-custom-white);
}

ion-item {
  margin: 10px 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #ccc;
}

h2 {
  margin: 30px 0px 10px 7px;
}

.slider-container {
  margin: 20px 0PX;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.avatar-section {
  background: white;
  margin: 0px 5px;
  height: 150px;

  display: flex;
  align-items: center;

  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #ccc;
}

.avatars-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.avatar {
  margin: 5px;
  width: 50px;
  height: 50px;
}

.board-size-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background: white;
}

.board-size-container h3 {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 40px;
  border-radius: 25px;
}


.item-selected {
  background: #4c8dff52;
  border: 3px solid var( --ion-color-primary );     
}

.categories-container {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
}

.start-btn {
  height: 50px;
  background-color: var( --ion-color-primary );
  margin-top: 25px;

  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-btn h3 {
  margin: 0px;
  color: white;

  font-style: normal;
  font-weight: bold;
}

// ************** DECKS *******************

.deck-container {
  background: white;
  // margin: 10px 5px;
  height: 180px;

  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #ccc;
}

.slider-title {
  display: flex;
  justify-content: space-between;
}

.slider-title h3 {
  margin: 0px 0px 15px 10px;
  padding-top: 5px;
}

.slider-title  ion-radio {
  margin: 10px 15px 0px 0px;
}

.container ion-slides img {
  width: 85px;
  height: 120px;
  object-fit: fill;

  border-radius: 25px;
}

// ****************************************