ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-start: 20px;
  --padding-end: 20px;
  --background: var(--ion-color-custom-white);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.avatar-section {
  margin: 40px 0px;
}

.avatars-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.avatar {
  margin: 5px;
  width: 50px;
  height: 50px;
}

.board-size-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.board-size-container h2 {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 40px;
  border-radius: 25px;
}


.item-selected {
  background: #4c8dff52;
  border: 3px solid var( --ion-color-primary );     
}

.categories-container {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
}

.start-btn {
  height: 50px;
  background-color: var( --ion-color-primary );
  margin-top: 25px;

  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-btn h3 {
  margin: 0px;
  color: white;

  font-style: normal;
  font-weight: bold;
}